<h1>Locawidz#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/3277932/pexels-photo-3277932.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <ul class="list-inline tabs-underlined">
    <li>
      <a href="#" class="tab-underlined active">Bookings</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Requests</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Conversations</a>
    </li>
  </ul>
  <div class="container" id="home_banner">
    <h1><strong>Locawidz,</strong> the best way to rent <strong>flowers easely</strong>!</h1>
    <p>Don't by anymore flowers to kill them after, rent them and give them a second chance</p>
    <a class="btn btn-success" href="#">Find flowers</a>
  </div>
</div>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://fac.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2FFAC.2Fvar.2Ffemmeactuelle.2Fstorage.2Fimages.2Fcuisine.2Fguides-cuisine.2Fherbes-aromatiques-comment-les-cuisiner-et-leurs-atout-san-49551.2F14948237-1-fre-FR.2Fherbes-aromatiques-comment-les-cuisiner-et-leurs-atout-sante.2Ejpg/850x478/quality/90/crop-from/center/herbes-aromatiques-comment-les-cuisiner-et-leurs-atout-sante.jpeg)">
    Aromatic Flowers
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.ravissant-jardin.com/wp-content/uploads/2018/04/physalis-chinese-lanterns.jpg)">
    Small fruits
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.le-panier-de-flo.fr/4063-large_default/fleurs-comestibles-bataille-de-fleurs-30-fleurs-la-piece.jpg)">
    Comestible flowers
  </div>

   <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://fac.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2FFAC.2Fvar.2Ffemmeactuelle.2Fstorage.2Fimages.2Fcuisine.2Fguides-cuisine.2Fherbes-aromatiques-comment-les-cuisiner-et-leurs-atout-san-49551.2F14948237-1-fre-FR.2Fherbes-aromatiques-comment-les-cuisiner-et-leurs-atout-sante.2Ejpg/850x478/quality/90/crop-from/center/herbes-aromatiques-comment-les-cuisiner-et-leurs-atout-sante.jpeg)">
    Aromatic Flowers
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.ravissant-jardin.com/wp-content/uploads/2018/04/physalis-chinese-lanterns.jpg)">
    Small fruits
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.le-panier-de-flo.fr/4063-large_default/fleurs-comestibles-bataille-de-fleurs-30-fleurs-la-piece.jpg)">
    Comestible flowers
  </div>
</div>
