<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/3277932/pexels-photo-3277932.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <ul class="list-inline tabs-underlined">
    <li>
      <a href="#" class="tab-underlined active">Bookings</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Requests</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Conversations</a>
    </li>
  </ul>
  <div class="container" id="home_banner">
    <h1><span id="banner-typed-text"></span></h1>
    <p>The best way to rent <strong>flowers easely </strong>!</p>
    <%= link_to 'Post plant', new_plant_path,class: 'btn btn-success'  %>
    <%= link_to 'Find plant', plants_index_path,class: 'btn btn-success'  %>
  </div>
</div>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://fac.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2FFAC.2Fvar.2Ffemmeactuelle.2Fstorage.2Fimages.2Fcuisine.2Fguides-cuisine.2Fherbes-aromatiques-comment-les-cuisiner-et-leurs-atout-san-49551.2F14948237-1-fre-FR.2Fherbes-aromatiques-comment-les-cuisiner-et-leurs-atout-sante.2Ejpg/850x478/quality/90/crop-from/center/herbes-aromatiques-comment-les-cuisiner-et-leurs-atout-sante.jpeg)">
    Aromatic Flowers
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.ravissant-jardin.com/wp-content/uploads/2018/04/physalis-chinese-lanterns.jpg)">
    Small fruits
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.le-panier-de-flo.fr/4063-large_default/fleurs-comestibles-bataille-de-fleurs-30-fleurs-la-piece.jpg)">
    Comestible flowers
  </div>

   <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://medias.maisonsdumonde.com/image/upload/q_auto,f_auto/w_2000/img/cerisier-artificiel-rose-h262-1000-11-27-200968_1.jpg)">
    Decoration Flowers
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://streetphotographycolor.com/wp-content/uploads/2021/02/cops5-inspiration-blumenfotografie-02-mic.jpg)">
    Healthy plants
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://jardinierparesseux.com/wp-content/uploads/2019/01/20190125a-www.chhajedgarden.com_.png)">
    Easy-maintenance flowers
  </div>
</div>
