<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/3277932/pexels-photo-3277932.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <ul class="list-inline tabs-underlined">
    <li>
      <a href="#" class="tab-underlined active">Bookings</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Requests</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Conversations</a>
    </li>
  </ul>
  <div class="container" id="home_banner">
    <h1><span id="banner-typed-text"></span></h1><br>
    <p>The best way to rent <strong>flowers easely </strong>! <br><br>
    I want to <%= link_to 'Find plant', plants_index_path,class: 'btn'  %>
    <%= link_to 'Add a plant', new_plant_path,class: 'btn'  %></p>
  </div>
</div>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.aujourdhui.com/wp-content/uploads/2020/03/Herbes-aromatiques-1000.jpg)">
    Aromatics
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/serdy-m-dia-inc/image/upload/f_auto/fl_lossy/q_auto:eco/x_0,y_0,w_1279,h_720,c_crop/w_836,h_470,c_scale/v1507088547/foodlavie/prod/recettes/gateau-aux-petits-fruits-et-amandes-sans-cuisson-bddaccf8)">
    Small fruits
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.le-panier-de-flo.fr/4063-large_default/fleurs-comestibles-bataille-de-fleurs-30-fleurs-la-piece.jpg)">
    Comestible flowers
  </div>

   <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.ctendance.fr/wp-content/uploads/2020/12/vertus-plantes-vertes.jpg)">
    Decoration
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://streetphotographycolor.com/wp-content/uploads/2021/02/cops5-inspiration-blumenfotografie-02-mic.jpg)">
    Healthy
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://jardinierparesseux.com/wp-content/uploads/2019/01/20190125a-www.chhajedgarden.com_.png)">
    Easy-maintenance
  </div>
</div>
