.btn {
  color: white;
  background: grey;
  border-radius: 100px;
}

.btn-flat {
  color: #4A4A4A;
  background: #a7c957;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  transition: opacity 0.3s ease;
}

.btn-flat:hover {
  background: #a7c957;
  color: white;
}

.btn-flat-save {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #4A4A4A;
  transition: background 0.3s ease;
}


.btn-flat-save:hover {
  background: #a7c957;
  color: white;
}
