#small-container {
  max-width: 5px;
}

#custom-container {
  min-height: calc(100% - 80px);
}

.main-container {
  min-height: calc(100% - 80px);
  display: grid;
  justify-content: center;
}

.cards-container {
  display: flex;
}

.container-booked-plants {
  margin-right: 45px;
}

.container-my-bookings {
  margin-left: 45px;
}

body {
  // min-height: calc(100% - 80px);
  position: relative;
}