@import url(https://fonts.googleapis.com/css?family=Open+Sans);


body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.searchTerm {
  width: 100%;
  border: 3px solid lightgrey;
  border-right: none;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}
.searchTerm:hover {
  width: 100%;
  border: 3px solid #16BB73;
  border-right: none;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}
.searchTerm:focus{
  color: #648d9c;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid lightgrey;
  background: lightgrey;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.searchButton:hover {
  width: 40px;
  height: 36px;
  border: 1px solid #16BB73;
  background: #16BB73;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}